<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi Portafolio</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<header class="header">
    <h1>💻 Mi Portafolio Web</h1>
    <p>Desarrollador en crecimiento 🚀</p>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <p>© 2026 - Hecho con Flask ❤️</p>
</footer>

</body>
</html>