<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Página en mantenimiento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="maintenance-body">

    <div class="maintenance-box">

        <div class="icon">🚧</div>

        <h1>Página en mantenimiento</h1>

        <p>Estamos mejorando el sitio para ofrecerte una mejor experiencia.</p>

        <p class="sub">Vuelve pronto 🚀</p>

    </div>

</body>
</html>